version: '3'

services:
  moodms:
    image: moodms
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "20004:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
    networks:
      - moodms-network
    depends_on:
      - "moodmspgsql"

  moodmspgsql:
    platform: linux/x86_64
    image: postgres
    restart: always
    environment:
      POSTGRES_MOOD: moodms
      POSTGRES_PASSWORD: planner
      POSTGRES_DB: moodms
    ports:
      - "5404:5432"
    networks:
      - moodms-network

networks:
  moodms-network:
    driver: bridge